body {
    background-color: #f4f4f9;
    font-family: sans-serif;
    color: #333;
}

img {
    width: 300px;
    border-radius: 15px;
}
a {
    color: #333;
    font-size: 1em;
}
a:hover {
    color: #d25555; 
    text-decoration: none;
}

.presentation {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.texte {
    text-align: left;
}


.mode-sombre {
    background-color: #1a1a1a;
    color: #fff;
}

.mode-sombre a {
    color: #ff7675; 
}